.container {
  position: relative;
  & > iframe {
    position: fixed;
    top: var(--height-header);
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: calc(100% - var(--height-header));
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 999999;
  }
}
