:root {
  --height-header: 38px;
}

.app {
  background-color: #f0f0f0;
  min-height: 100vh;

  a {
    color: inherit;
    text-decoration: none;
  }

  h1,
  h2 {
    font-size: 24px;
    padding: 0 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    color: #727272;
  }
}
